*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: futura;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
}

#main{
    height: 100%;
    width: 100vw;
    background-color:black;
    position: relative;

}

#nav{
    height: 15%;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
   
}

#nav img{
    height: 50%;
    object-fit: cover;
}

#centernav{
    width: 25%;
    display: flex;
    justify-content: space-between;
    /* instead of using width along with justify content i can also directly use the gap feature which work on the principal of px */

}


#centernav h3{
     color: white;

}

#sidenav{
    /* padding-right: 3%; */
    display: flex;
    width: 18%;
    justify-content: space-around;
    align-items: center;
}

#sidenav button{
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    /* this is use to remove any kind of border which are present predefined in the button which we have made */
}



h1{
    font-size: 140px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -2px;
    /* line-height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
   


}

h1 span{
    background-color: brown;
    font-size: 40px;
    padding: 10px 25px;
    margin: 0 25px;
    border-radius: 25px;
    rotate: -10deg;
    letter-spacing: 1px;
    /* border-style: dashed ; */


}


#main #topleft{
    height: 25vh;
    width: 10vw;
    position: absolute;
    top: 190px;
    left: 75px;
    object-fit: cover;
    border-radius: 30px;
    rotate: -5deg;

}


#main #rightbottom{
    height: 27vh;
    width: 10.5vw;
    position: absolute;
    bottom: 125px;
    right: 135px;
    object-fit: cover;
    border-radius: 30px;
    rotate: 5deg;

}

#main #topcenter{
    width: 31vh;
    height: 12.5vw;
    position: absolute;
    top: 140px;
    right: 295px;
    object-fit: cover;
    border-radius: 30px;
    opacity: 60%;
    
   

}


#main #bottomcenter{
    width: 31vh;
    height: 12.5vw;
    position: absolute;
    bottom: 90px;
    left: 295px;
    object-fit: cover;
    border-radius: 30px;
    opacity: 60%;
   

}